<h3 align="center">List Books</h3>
<div class="create" align="center">
  <a [routerLink]="['/createBook']">Create Book</a>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Description</th>
    <th scope="col" >Update</th>
    <th scope="col" >Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of listBook">
    <td><a [routerLink]="['/details', book.id]">{{book.id}}</a></td>
    <td>{{book.title}}</td>
    <td>{{book.author}}</td>
    <td>{{book.description}}</td>
    <td><button [routerLink]="['/updateBook', book.id]" class="btn btn-outline-success">Update</button></td>
    <td><button class="btn btn-outline-danger" (click)="deleteBook(book.id)">Delete</button></td>
  </tr>
  </tbody>
</table>
