<div class="container-xl" align="center">
  <h2>Edit Book</h2>
  <form [formGroup]="form" (ngSubmit)="updateBook()">
    <a [routerLink]="['/listBook']" class="btn btn-outline-info mb-3">Back</a>
    <table>
      <tr>
        <td>Title</td>
        <td><input type="text" formControlName="title" id="title"></td>
      </tr>
      <tr>
        <td>Author</td>
        <td><input type="text" formControlName="author" id="author"></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><input type="text" formControlName="description" id="description"></td>
      </tr>
    </table>
    <button type="submit" class="btn btn-outline-danger">Update</button>
  </form>
</div>
